.sign-in-container {
  height: 95vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .sign-in-form {
    width: 450px;
    .form-row {
      margin-top: 16px;
    }
  }
}
